<%-include('v_head',{title:'Admin'})%>
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<%-include('v_nav')%>
<link rel="stylesheet" href="assets/dist/css/home.css" >
<script src="/node_modules/jquery/dist/jquery.min.js" ></script>
<script src="/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/dist/js/admin.js"></script>
  <body>
    <h3 class="mt-4 text-center">Data Admin</h3>
    <button class="btn btn-success btn-md ml-3" data-toggle="modal" data-target="#addData">Tambah Data</button>
    <center>
      <div class="card shadow-md m-3 mt-4 p-3 d-flex flex-row">
        <div class="w-100">
          <table id="admin" class="display" style="width:100%">
              <thead>
                  <tr>
                      <th>No</th>
                      <th>Nama</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>Last Login</th>
                      <th>Last Logout</th>
                      <th>Aksi</th>
                  </tr>
              </thead>
              <tbody>
                <% let no = 1;%>
                <% admin.reverse().forEach(function(e){ %>
                    <tr>
                      <th><%= no %></th>
                      <td><%= e.nama%></td>
                      <td><%= e.username%></td>
                      <td><%= e.password%></td>
                      <td><%= e.last_login%></td>
                      <td><%= e.last_logout%></td>
                      <td><div class="d-flex flex-row">
                        <button class="btn btn-info btn-sm mr-2" data-toggle="modal" data-target="#updateData" onclick="setUpdate('<%=e._id%>','<%= e.nama%>','<%= e.username%>','<%= e.password%>')">Edit</button>
                        <form action="/delete/admin?_method=DELETE" method="POST">
                          <input type="hidden" name="id" value="<%=e._id%>">
                          <button type="submit" class="btn btn-danger btn-sm mr-2" onclick="return confirm('Apakah anda yakin?')">Delete</button>
                        </form>
                      </div></td>
                    </tr>
                    <% no+=1 %>
                <% }); %>
              </tbody>
          </table>
        </div>
      </div></center>
  </body>
  <!-- Modal 1-->
  <div class="modal fade" id="addData" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addDataLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addDataLabel">Tambah Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/add/admin" >
            <div class="form-group">
              <label >Nama Lengkap</label>
              <input type="input" class="form-control" name="nama" id="" >
            </div>
            <div class="form-group">
              <label >Username</label>
              <input type="input" class="form-control" name="username" id="" >
            </div>
            <div class="form-group">
              <label >Password</label>
              <input type="input" class="form-control" name="password" id="" >
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" onclick="return confirm('Apakah anda yakin?')">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <!-- Modal 2-->
    <div class="modal fade" id="updateData" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="updateDataLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateDataLabel">Update Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/update/admin?_method=PUT">
              <input type="hidden" id="u_id" name="id"> 
              <div class="form-group">
                <label >Nama Lengkap</label>
                <input type="input" class="form-control" name="nama" id="u_nama" >
              </div>
              <div class="form-group">
                <label >Username</label>
                <input type="input" class="form-control" name="username" id="u_username" >
              </div>
              <div class="form-group">
                <label >Password</label>
                <input type="input" class="form-control" name="password" id="u_password" >
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="return confirm('Apakah anda yakin?')">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
<%-include('v_foot')%>