<%-include('v_head',{title:'Detail Peminjaman'})%>
<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<%-include('v_nav')%>
<link rel="stylesheet" href="../assets/dist/css/home.css" >
<link rel="stylesheet" href="../node_modules/sweetalert2/dist/sweetalert2.min.css">
<script src="../node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/node_modules/jquery/dist/jquery.min.js" ></script>
<script src="/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/dist/js/add_peminjaman.js" ></script>
  <body class="bg-light">
    <h3 class="mt-4 text-center">Detail Peminjaman </h3>
    <br>
    <div class="p-4 card m-3 shadow-xl" style="width:98%">
        <div class="row">
          <div class="col">
            <input type="text" disabled required class="form-control" name="nama" placeholder="Nama Lengkap" value="<%=peminjaman.peminjam%>">
          </div>
          <div class="col">
            <input type="text" disabled required class="form-control" name="telp" placeholder="No Telepon" value="<%=peminjaman.telepon%>">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <input type="text" disabled required class="form-control" name="alamat" placeholder="Alamat" value="<%=peminjaman.alamat%>">
          </div>
        </div>
        <div class="row mt-3">
          <%
            let denda = 0
            let no = 1
            let month = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"] 
            let date_a=new Date(peminjaman.tanggal_pinjam)
            let date_b=new Date(peminjaman.batas_pinjam)
            let date_now=new Date()
            %>
          <div class="col ">
            <label >Tanggal Peminjaman: </label>
            <input type="text" disabled required class="form-control" name="tgl_pinjam" placeholder="Tanggal Pinjam" value="<%=date_a.getDate()%> <%=month[date_a.getMonth()]%> <%=date_a.getYear()%>">
          </div>
          <div class="col">
            <label >Batas Peminjaman: </label>
            <input type="text" disabled required class="form-control" name="bts_pinjam" placeholder="Batas Pinjam" value="<%=date_b.getDate()%> <%=month[date_b.getMonth()]%> <%=date_b.getYear()%>">
          </div>
        </div>
        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Judul DVD</th>
              <th scope="col">Harga</th>
              <th scope="col">Jumlah</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody id="dvd_items">
            <%peminjaman.item.forEach(e=>{%>
              <tr>
                <td scope="col"><%=no%></td>
                <td scope="col"><%=e.judul%></td>
                <td scope="col">Rp <%=thousands(e.harga,'.')%></td>
                <td scope="col"><%=e.jumlah%></td>
                <td scope="col">Rp <%=thousands(e.harga*e.jumlah,'.')%></td>
              </tr>
            <% no++ })%>
          </tbody>
        </table>
        <div class="col mb-3">
          <div class="d-flex flex-row justify-content-between">
            <div ><b>Biaya :</b></div>
            <div ><b>Rp <%= thousands(peminjaman.total_harga)%></b></div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div ><b>Denda :</b></div>
            <%if(peminjaman.denda){%>
              <div ><b>Rp <%= thousands(peminjaman.denda)%></b></div>
            <%}else{%>
              <%
              let day_a = (Math.floor(date_now.getTime()/(1000*60*60*24)))
              let day_b = (Math.floor(date_b.getTime()/(1000*60*60*24)))
              %>
              <%if(day_a>day_b){%>
               <% denda = (day_a-day_b)*5000 %>
                <div ><b class="text-danger">Rp <%= thousands(denda)%></b></div>
              <%}else{%>
                <% denda = 0 %>
                <div ><b>Rp 0</b></div>
              <%}%>
            <%}%>
          </div>
          <form action="/selesai_peminjaman" name="updateData" method="POST">
            <input type="hidden" name="id" value="<%=peminjaman._id%>">
            <%if(date_now.getTime()>date_a.getTime()){%>
              <input type="hidden" value="Kembali dan Terlambat" name="status"> 
           <%}else{%>
              <input type="hidden" value="Kembali " name="status"> 
            <%}%>
            <input type="hidden" value="<%=denda%>" name="denda"> 
            <%if(!peminjaman.status){%>
              <center><button type="button" onclick="confirmForm('updateData')" class="btn btn-md btn-success mt-2" style="width:200px">Tandai Selesai</button></center>
            <%}%>
              </div>
          </form>
    </div>
  </body>
<%-include('v_foot')%>